html, body {
    height: 100%;
    margin: 0;
}

#map, #map_str, #san_2015, #san_2016, #san_2017, #h2o_2015, #h2o_2016, #h2o_2017 {
    max-width: 100vw;
    width: 100%;
    height: 50vh;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}


.container {
    max-width: 90%;
}

body {
    background-color: #363636;
}

.card {
    max-width: 100vw;
}