html, body {
    height: 100%;
    margin: 0;
}

#map {
    max-width: 100vw;
    width: 100%;
    height: fit-content;
    min-height: 94vh;
}

.legend {
    color: white !important;
    text-align: center !important;
    line-height: 1.4em !important;
    font-size: larger;
    font-weight: bold;
    height: 1.4em;
    border-color: #262626;
    border-width: 0px 2px 0px 2px;
    border-style: solid;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    margin-left: 3px;
    opacity: 0.7;
}

.legend_upper {
    border-radius: 10px 10px 0px 0px;
    border-width: 2px;
    height: 1.5em;
}

.legend_lower {
    border-radius: 0px 0px 10px 10px;
    border-width: 2px;
    height: 1.5em;
}

nav {
    min-height: 6vh;
    height: 6vh;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legendRight {
    text-align: left;
    line-height: 19px;
    color: #555;
    margin-bottom: 5px;
}

.legendRight i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    margin-left: 3px;
    opacity: 0.7;
}

.container {
    max-width: 90%;
}

body {
    background-color: #262626;
}

.card {
    max-width: 100vw;
}

#base {
    position: relative;
    border-radius: 2rem;
    border-style: solid;
    border-color: #262626;
    border-width: 2px;
    text-align: center;
    font-size: large;
    height: 30px;
    color: white;
    line-height: 15px;
}

#base:after {
    border-top: 17px solid #262626;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-radius: 3px;
    content: "";
    height: 0;
    left: 4px;
    position: absolute;
    top: 25px;
    width: 0;
}

.content-desktop {
    display: block;
}

.content-mobile {
    display: none;
}

#base_Legend {
    position: relative;
    border-radius: 2rem;
    border-style: solid;
    border-color: #262626;
    border-width: 2px;
    text-align: center;
    height: 20px;
    width: 30px;
    color: black;
    line-height: 16px;
    margin-bottom: 2px;
}

#base_Legend:after {
    border-top: 9px solid #262626;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-radius: 3px;
    content: "";
    height: 0;
    left: 1px;
    position: absolute;
    top: 16px;
    width: 0;
}

#cluster_Legend {
    margin-top: 5px;
    margin-bottom: 4px;
    border-radius: 2rem;
    border-style: solid;
    border-color: #262626;
    border-width: 2px;
    text-align: center;
    line-height: 16px;
    height: 20px;
    width: 30px;
}

#wind_Legend {
    transform: rotate(45deg);
    width: 25px;
    margin-left: 12px;
    margin-top: -10px;
    margin-bottom: 5px;
}

#windLetter_Legend {
    width: 55px;
    margin-top: 1px;
    font-size: 0.7rem;
    background: #e0e0e0;
    font-weight: bold;
    text-align: center;
    left: -5px;
}

#heatMapI {
    height: 50px;
}

#heatMapTextRows {
    line-height: 1.3;
    margin-bottom: 0px;
}

td {
    text-align: left;
    color: #555;
    font: 14px/16px Arial, Helvetica, sans-serif;
    margin-left: 5px;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #555;
}

#status {
    color: #464646;
}
@media (max-width: 960px), handheld {
    nav {
        min-height: 12vh;
        height: 12vh;
    }

    #map {
        min-height: 88vh;
    }

    .content-desktop {
        display: none;
    }

    .content-mobile {
        display: block;
    }
}
